{% load static %}
<!DOCTYPE html>
<html>

<body>

<table style ="border:1px double black;">

           
       
        
        
        {% for r in content %}
            <td height: 50px;vertical-align: bottom;}>
             {{ r.user_name }} 
             {{ r.display_name }}
             {{ r.first_call_time }}
             {{ r.total_talk_time }} 
             {{ r.created_date }} </td>
            
            
            
            <th>User Name &nbsp</th>
            <th>Display Name &nbsp</th>
            <th>First Call Time &nbsp</th> 
            <th>Total Talk Time &nbsp</th>
            <th>Created Date &nbsp</th>   
                      
                
        
        {% endfor %}
        

    


</table>


</body>


</html>


